body{
    margin:0;
    /*line-height: 1.5;*/
    font-family: sans-serif;
    display: flex;
}
.wrapper{
    width: 100%;
    align-self: flex-end;
}
.main{
    flex-grow: 1;
    padding: 20px;
    height: 50vh;
}
.up-panel-toggle{
    width: 100%;
    height: 40px;
    flex-grow: 0;
    display: grid;
    place-items: center;
    color: black;
    background-color: lightgrey;
    border-radius: 15px;
    border: none;
}
.sp-icons-close{
    margin-bottom: 20px;
}
.panel{
    width: 100%;
    flex-shrink: 0;
    color: black;
    background-color: lightgrey;
    box-shadow: 0 0 10px rgba(0, 0, 0,  0.35);
    border-radius: 20px;
    padding: 20px;
    height: 100vh;
    margin-top: 100%;
}
/*body content*/
p{
    font-size: 20pt;
        padding: 25px;
}

h1{
    text-align: center;
    color: rebeccapurple;
}
/*image gallery*/
img{
    width: 300px;
    height: 300px;
}
.column {
    float: right;
    width: 30.30%;
    padding: 5px;
}

/* Clear floats after image containers */
.row::after {
    content: "";
    clear: both;
    display: table;
}


/* zoom buttons style */

.main1 {
    padding: 16px;
    margin-top: 30px;
}

.main1 img {
    width: 100%;
    min-height: 100%;
    height: auto;
    position: relative;
}

.button {
    width: 300px;
    height: 60px;
    position: fixed;   
}

#btnstyle{
background-color: none;
width: 80px;
height: 80px;
border-radius: 50%;
border: none;
}

#icon{
    width: 80px;
    height: 80px;

}
.container{
    display: flex;
    flex-direction: column;
    float: right;
}

